.page{
display: flex;
position: relative;
}
.header{
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 10vw;
}
.header p{
  line-height: 10vw;
  text-align: center;
  font-size: 9vw;
  color: white;
}
.main{

}
.main .info{
  background-color: rgb(0, 136, 255);
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 16vw 12vw 12vw 12vw;
  word-break: break-all;
}
.main .shapes{
  width: 100vw;
}
.main .shapes .square{
  width: 45vw;
  height: 45vw;
  background-color: rgb(0, 238, 238);
}
.main .shapes .triangle{
  width: 0;
  height: 0;
  border-left: 22.5vw solid transparent;
  border-right: 22.5vw solid transparent;
  border-bottom: 45vw solid #4f98f1;
}
.main .shapes .circle{
  width: 45vw;
  height: 45vw;
  background-color: rgb(0, 238, 238);
  border-radius: 50%;
}
.main .whyarm{
  width: 100vw;
  height: 20vw;
  background-color: #4f98f1;
  line-height: 20vw;
  text-align: center;
  font-size: 9vw;
  color: white;
}
.main ul {
  margin-left: 10vw;
}
.footer{
background-color: #eb1818;
height: 100vh;
width: 100vw;
bottom: 0;
}