.page{
display: flex;
position: relative;
color: white;
}
.header{
  position: fixed;
  z-index: 999;
  background-color: black;
  width: 100vw;
  height: auto;
}
.header p{
  line-height: auto;
  text-align: center;
  font-size: 9vw;
}
.main{

}
.main .info{
  background-image: url(/infoImg.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 30vh;
  text-align: left;
  font-size: 14vw;
  font-family: ‘Trocchi’, serif;
  font-weight: bolder;
}
.main .info .text{
  position: relative;
  width: 100vw;
  left: 0;
  padding-left: 5vw;
  backdrop-filter: blur(2px);
}
.main .shapes{
  position: relative;
  width: 100vw;
  height: max-content;
  margin-left: 11%;
  margin-bottom: 4vh;
  margin-top: 4vh;
}
.main .shapes .square{
  width: 45vw;
  height: 45vw;
  background-image: url(/square.jpg);
  background-size: cover;
  transform: rotate(-15deg);
}
.main .shapes .rhomb{
  width: 45vw;
  height: 45vw;
  margin-top: 10vw;
  margin-left: 5vw;
  transform: rotate(20deg);
  background-image: url(/rhomb.jpg);
  background-size: cover;
}
.main .shapes .circle{
  margin-top: 5vw;
  margin-left: 19vw;
  width: 60vw;
  height: 60vw;
  background-image: url(/circle.jpg);
  background-size: cover;
  border-radius: 50%;
}
.main .whyarm{
  width: 100vw;
  height: 20vw;
  background-color: #4f98f1;
  line-height: 20vw;
  text-align: center;
  font-size: 9vw;
  color: white;
}
.main ul {
  margin-left: 10vw;
}
.footer{
background-color: #3a3939;
height: 100vh;
width: 100vw;
bottom: 0;
}