.shapes {
  position: relative;
  display: flexbox;
  margin: auto;
  width: min-content;
  height: max-content;
  padding-left: 25px;

  margin-bottom: 15vh;
  margin-top: 15vh;
}

.shapes .square {
  width: 180px;
  height: 180px;
  transform: rotate(-15deg);

  background-image: url(/square.jpg);
  background-size: cover;
}

.shapes .rhomb {
  width: 180px;
  height: 180px;
  transform: rotate(20deg);
  margin-top: -10px;

  background-image: url(/rhomb.jpg);
  background-size: cover;
}

.shapes .circle {
  width: 220px;
  height: 220px;
  margin-left: 100px;
  margin-top: -10px;

  background-image: url(/circle.jpg);
  background-size: cover;
  border-radius: 50%;
}