.whyarm h1 {
  font-size: 50px;
  margin-bottom: 3vh;
  margin-top: 10vh;
  text-align: center;
}

.whyarm ul {
  font-size: 30px;
  margin-left: 10vw;
}

.whyarm ul li h1 {
  font-size: 5vw;
}

.whyarm ul li{
  margin-top: 3vh;
}